peskytr/
cobalt_samples.csv
data/reads/fastqc/
data/reads/sub/
analysis/
work/
minion/
tutorial_results/
results/
WOR/
.nextflow*
.nextflow/
.DS_Store
.vscode
sample_sheets/
.nf-test/
.vscode
output/
