manifest.mainScript = 'main.nf'

process {
    container = 'goldrieve/vsgseq2:latest' // Specify the container image
    conda.enabled = true // Enable Conda
}

docker {
    enabled = false // Enable Docker
    runOptions = '-u $(id -u):$(id -g)' // Ensure proper file permissions
}

singularity {
    enabled = false // Enable Singularity
    autoMount = true // Automatically mount paths
}