manifest.mainScript = 'main.nf'

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.container = 'goldrieve/vsgseq2:latest'
    }

    conda {
        conda.enabled = true
        process.conda = "${projectDir}/vsgseq2.yml"
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'goldrieve/vsgseq2:latest'
    }
}
